@import url("https://fonts.googleapis.com/css2?family=Lato:wght@500&display=swap");
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
//mixins
@mixin place_center() {
    display: grid;
    place-items: center;
}

//variables
$main_color: #073642;
$main_dark: #002b36;
// $sub_color: #586e75;
$sub_color: #279b93;
body {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    color: white;
    background-color: white;
    height: 100vh;
    background-color: $sub_color;
    overflow: hidden;
}

.app {
    display: grid;
    place-content: center;
    grid-template-rows: 10% 10% 50% 30% !important;
    grid-template-columns: 40% 60%;
    grid-template-areas:
        "navigation navigation"
        "configuration configuration"
        "challenge ace_editor"
        "result ace_editor";
    height: 100vh;
    width: 100vw;
    gap: 1px;

    //change styles globally
    .box {
        background-color: $main_color;
        text-align: center;

        .window {
            background-color: $main_dark;
            height: 80%;
            border-radius: 5px;
        }
    }
    .navigation {
        grid-area: navigation;
    }
    .challenge {
        grid-area: challenge;

        .window {
            background-color: $main_dark;
        }
    }
    .configuration {
        grid-area: configuration;
    }
    .ace_editor {
        grid-area: ace_editor;
        height: 100% !important;
        width: 100% !important;
    }
    .result {
        grid-area: result;
    }
}
